# packages
node_modules/
npm-debug.log
yarn-error.log

# Firebase
.firebase/*
!.firebase/.gitkeep
database-debug.log
firebase-debug.log
firestore-debug.log
pubsub-debug.log
ui-debug.log

# project
out/
