body {
  line-height: 1.5;
  margin-bottom: 5rem; /* push down an overlay the auth emu shows */
}

code {
  background-color: #eee;
  border-radius: 0.2em;
  font-family: monospace;
  padding: 0.1em 0.5em;
}

.ui-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: min(100%, 800px);
}
